---
title: Zee. Software Developer. Educator.
layout: default
track_as: Landing
home: true
ctas:
  - location: left
    selector: '#send-email'
    color: Red
    CTA: Email me
    category: Contact
  - location: left
    selector: '#send-email-button'
    color: Red
    CTA: Email me
    category: Contact
---
<section class="next-steps">
  <article>
    <header>
    <h3>Send me an Email</h3>
    </header>

    <main>
    <p>I'm always happy to chat! If you have questions about my writing, want
    some advice, or want to hire me for training or consulting; just send an
    email to <a id="send-email" href="mailto:
    hello@zeespencer.com">hello@zeespencer.com</a></p>
    </main>

    <footer>
      <a id="send-email-button" class="button" href="mailto: hello@zeespencer.com">Go ahead! Send me an Email!</a>
    </footer>
  </article>

  <article>
    <header>
    <h3>Subscribe to my Newsletter</h3>
    </header>

    <main>
    <p>My newsletter is a weekly-ish set of interesting links and a short
    essay. The essay may be about programming, design, technical leadership, or
    anything that strikes my fancy.</p>

    {% include newsletter_form.html location="right" page_subject="Home page" %}
    </main>
  <article>
</section>

<section class="articles">
  {% for post in site.posts %}
  <article>
    <h3 id="{{ post.title | handleize }}"><a href="{{post.url}}">{{ post.title }}</a></h3>
    {{ post.excerpt }}
    <p>Posted on {{ post.date | pretty_date }} - about {{ post | tags }}</p>
  </article>
  {% endfor %}
</section>
