body {
  background-color: #D1D1D1;
  font-family: ScratchmybackRegular, helvetica, arial, sans-serif;
  text-align: center;
}
h1, h2, h3, h4, h5 {
  margin-bottom: 0;
}
div#main {
  text-align: left;
  margin: 0px auto;
  width: 50%;
  min-width: 14em;
  max-width: 24em;
}

div#contact-info {
  margin: 0px auto;
  width: 50%
}
a {
  color: #00009f;
}
a:visited {
  color: #000060;
}
ul {
  list-style: none;
  padding-left: 0;
}

@font-face {
  font-family: 'ScratchmybackRegular';
  src: url('fonts/SCRATCHM-webfont.eot');
  src: url('fonts/SCRATCHM-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/SCRATCHM-webfont.woff') format('woff'),
  url('fonts/SCRATCHM-webfont.ttf') format('truetype'),
  url('fonts/SCRATCHM-webfont.svg#ScratchmybackRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

