<form id="subscribe-to-newsletter" action="https://tinyletter.com/zspencer" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/zspencer', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
  <p><label for="tlemail">Email address:</label>
  <input placeholder="your-email@example.com" type="text" name="email" id="tlemail" /></p>
  <input type="hidden" value="1" name="embed"/>

  <p>Not sure? <a id="newsletter-archive" href="http://tinyletter.com/zspencer/archive">Read the
    archive.</a></p>
  <input class="button" type="submit" value="Subscribe Now!" />
</form>


<script type="text/javascript">
Track.cta("#subscribe-to-newsletter", "Newsletter Subscription", {
  location: '{{ include.location | default: "Center" }}',
  color: 'Red',
  category: 'Subscribe',
  pageSubject: '{{ include.page_subject | default: "Newsletter" }}'
});

Track.cta("#newsletter-archive", "Check the Newsletter Archive", {
  location: '{{ include.location | default: "Center" }}',
  color: 'Red',
  category: 'Investigate me',
  pageSubject: '{{ include.page_subject | default: "Newsletter" }}'
});
</script>
