$base-font-size: 1.5em;
$line-height: $base-font-size * 1.2;
$title-heading-font-size: $base-font-size * 1.7;
$main-heading-font-size: $base-font-size * 1.3;
$sub-heading-font-size: $base-font-size * 1.1;
$indentation-level: $base-font-size/2;
$main-width: 600px;

$column-width: 45%;
$gutter-width: 10%;

$vertical-spacing: $line-height / 2;

$primary-color: #0F3FB8;
$secondary-color: #030B20;
$tertiary-color: #F26E50;

$font-color: #F4F4FF;

$visited-link-color: darken($tertiary-color, 5%);
$hover-link-color: lighten($tertiary-color, 10%);
