// http://paletton.com/#uid=40m0u0kaVz800++35S5koohvQeQ

$primary: rgba(255,200,168,1);
$primary-lightest: rgba(255,255,255,1);
$primary-light: rgba(255,240,230,1);
$primary-dark: rgba(193,116, 70,1);
$primary-darkest: rgba(118, 44,  1,1);

$secondary: rgba(121,145,176,1);
$secondary-lightest:  rgba(255,255,255,1);
$secondary-light: rgba(210,219,231,1);
$secondary-dark: rgba( 53, 85,127,1);
$secondary-darkest: rgba(  7, 38, 78,1);

$tertiary: rgba(169,223,147,1);
$tertiary-lightest: rgba(255,255,255,1);
$tertiary-light: rgba(228,245,221,1);
$tertiary-dark: rgba( 92,166, 60,1);
$tertiary-darkest: rgba( 31,102,  1,1);


$complement: rgba(115,174,160,1);
$complement-lightest: rgba(255,255,255,1);
$complement-light: rgba(208,230,225,1);
$complement-dark: rgba( 46,126,106,1);
$complement-darkest: rgba(  0, 77, 58,1);
