@font-face {
    font-family: 'alegreyabold';
    src: url('/assets/fonts/alegreya-bold-webfont.eot');
    src: url('/assets/fonts/alegreya-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/alegreya-bold-webfont.woff2') format('woff2'),
         url('/assets/fonts/alegreya-bold-webfont.woff') format('woff'),
         url('/assets/fonts/alegreya-bold-webfont.ttf') format('truetype'),
         url('/assets/fonts/alegreya-bold-webfont.svg#alegreyabold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'alegreya_scbold_italic';
    src: url('/assets/fonts/alegreyasc-bolditalic-webfont.eot');
    src: url('/assets/fonts/alegreyasc-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/alegreyasc-bolditalic-webfont.woff2') format('woff2'),
         url('/assets/fonts/alegreyasc-bolditalic-webfont.woff') format('woff'),
         url('/assets/fonts/alegreyasc-bolditalic-webfont.ttf') format('truetype'),
         url('/assets/fonts/alegreyasc-bolditalic-webfont.svg#alegreya_scbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'alegreyabold_italic';
    src: url('/assets/fonts/alegreya-bolditalic-webfont.eot');
    src: url('/assets/fonts/alegreya-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/alegreya-bolditalic-webfont.woff2') format('woff2'),
         url('/assets/fonts/alegreya-bolditalic-webfont.woff') format('woff'),
         url('/assets/fonts/alegreya-bolditalic-webfont.ttf') format('truetype'),
         url('/assets/fonts/alegreya-bolditalic-webfont.svg#alegreyabold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'alegreyablack';
    src: url('/assets/fonts/alegreya-black-webfont.eot');
    src: url('/assets/fonts/alegreya-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/alegreya-black-webfont.woff2') format('woff2'),
         url('/assets/fonts/alegreya-black-webfont.woff') format('woff'),
         url('/assets/fonts/alegreya-black-webfont.ttf') format('truetype'),
         url('/assets/fonts/alegreya-black-webfont.svg#alegreyablack') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'alegreya_scregular';
    src: url('/assets/fonts/alegreyasc-regular-webfont.eot');
    src: url('/assets/fonts/alegreyasc-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/alegreyasc-regular-webfont.woff2') format('woff2'),
         url('/assets/fonts/alegreyasc-regular-webfont.woff') format('woff'),
         url('/assets/fonts/alegreyasc-regular-webfont.ttf') format('truetype'),
         url('/assets/fonts/alegreyasc-regular-webfont.svg#alegreya_scregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'alegreya_scitalic';
    src: url('/assets/fonts/alegreyasc-italic-webfont.eot');
    src: url('/assets/fonts/alegreyasc-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/alegreyasc-italic-webfont.woff2') format('woff2'),
         url('/assets/fonts/alegreyasc-italic-webfont.woff') format('woff'),
         url('/assets/fonts/alegreyasc-italic-webfont.ttf') format('truetype'),
         url('/assets/fonts/alegreyasc-italic-webfont.svg#alegreya_scitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'alegreya_scblack_italic';
    src: url('/assets/fonts/alegreyasc-blackitalic-webfont.eot');
    src: url('/assets/fonts/alegreyasc-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/alegreyasc-blackitalic-webfont.woff2') format('woff2'),
         url('/assets/fonts/alegreyasc-blackitalic-webfont.woff') format('woff'),
         url('/assets/fonts/alegreyasc-blackitalic-webfont.ttf') format('truetype'),
         url('/assets/fonts/alegreyasc-blackitalic-webfont.svg#alegreya_scblack_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'alegreyaregular';
    src: url('/assets/fonts/alegreya-regular-webfont.eot');
    src: url('/assets/fonts/alegreya-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/alegreya-regular-webfont.woff2') format('woff2'),
         url('/assets/fonts/alegreya-regular-webfont.woff') format('woff'),
         url('/assets/fonts/alegreya-regular-webfont.ttf') format('truetype'),
         url('/assets/fonts/alegreya-regular-webfont.svg#alegreyaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'alegreya_scbold';
    src: url('/assets/fonts/alegreyasc-bold-webfont.eot');
    src: url('/assets/fonts/alegreyasc-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/alegreyasc-bold-webfont.woff2') format('woff2'),
         url('/assets/fonts/alegreyasc-bold-webfont.woff') format('woff'),
         url('/assets/fonts/alegreyasc-bold-webfont.ttf') format('truetype'),
         url('/assets/fonts/alegreyasc-bold-webfont.svg#alegreya_scbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'alegreya_scblack';
    src: url('/assets/fonts/alegreyasc-black-webfont.eot');
    src: url('/assets/fonts/alegreyasc-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/alegreyasc-black-webfont.woff2') format('woff2'),
         url('/assets/fonts/alegreyasc-black-webfont.woff') format('woff'),
         url('/assets/fonts/alegreyasc-black-webfont.ttf') format('truetype'),
         url('/assets/fonts/alegreyasc-black-webfont.svg#alegreya_scblack') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'alegreyablack_italic';
    src: url('/assets/fonts/alegreya-blackitalic-webfont.eot');
    src: url('/assets/fonts/alegreya-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/alegreya-blackitalic-webfont.woff2') format('woff2'),
         url('/assets/fonts/alegreya-blackitalic-webfont.woff') format('woff'),
         url('/assets/fonts/alegreya-blackitalic-webfont.ttf') format('truetype'),
         url('/assets/fonts/alegreya-blackitalic-webfont.svg#alegreyablack_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'alegreyaitalic';
    src: url('/assets/fonts/alegreya-italic-webfont.eot');
    src: url('/assets/fonts/alegreya-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/alegreya-italic-webfont.woff2') format('woff2'),
         url('/assets/fonts/alegreya-italic-webfont.woff') format('woff'),
         url('/assets/fonts/alegreya-italic-webfont.ttf') format('truetype'),
         url('/assets/fonts/alegreya-italic-webfont.svg#alegreyaitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cabinbold_italic';
    src: url('/assets/fonts/cabin-bolditalic-webfont.eot');
    src: url('/assets/fonts/cabin-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/cabin-bolditalic-webfont.woff2') format('woff2'),
         url('/assets/fonts/cabin-bolditalic-webfont.woff') format('woff'),
         url('/assets/fonts/cabin-bolditalic-webfont.ttf') format('truetype'),
         url('/assets/fonts/cabin-bolditalic-webfont.svg#cabinbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cabinsemibold_italic';
    src: url('/assets/fonts/cabin-semibolditalic-webfont.eot');
    src: url('/assets/fonts/cabin-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/cabin-semibolditalic-webfont.woff2') format('woff2'),
         url('/assets/fonts/cabin-semibolditalic-webfont.woff') format('woff'),
         url('/assets/fonts/cabin-semibolditalic-webfont.ttf') format('truetype'),
         url('/assets/fonts/cabin-semibolditalic-webfont.svg#cabinsemibold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cabinbold';
    src: url('/assets/fonts/cabin-bold-webfont.eot');
    src: url('/assets/fonts/cabin-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/cabin-bold-webfont.woff2') format('woff2'),
         url('/assets/fonts/cabin-bold-webfont.woff') format('woff'),
         url('/assets/fonts/cabin-bold-webfont.ttf') format('truetype'),
         url('/assets/fonts/cabin-bold-webfont.svg#cabinbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cabinsemibold';
    src: url('/assets/fonts/cabin-semibold-webfont.eot');
    src: url('/assets/fonts/cabin-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/cabin-semibold-webfont.woff2') format('woff2'),
         url('/assets/fonts/cabin-semibold-webfont.woff') format('woff'),
         url('/assets/fonts/cabin-semibold-webfont.ttf') format('truetype'),
         url('/assets/fonts/cabin-semibold-webfont.svg#cabinsemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cabinmedium_italic';
    src: url('/assets/fonts/cabin-mediumitalic-webfont.eot');
    src: url('/assets/fonts/cabin-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/cabin-mediumitalic-webfont.woff2') format('woff2'),
         url('/assets/fonts/cabin-mediumitalic-webfont.woff') format('woff'),
         url('/assets/fonts/cabin-mediumitalic-webfont.ttf') format('truetype'),
         url('/assets/fonts/cabin-mediumitalic-webfont.svg#cabinmedium_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cabinregular';
    src: url('/assets/fonts/cabin-regular-webfont.eot');
    src: url('/assets/fonts/cabin-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/cabin-regular-webfont.woff2') format('woff2'),
         url('/assets/fonts/cabin-regular-webfont.woff') format('woff'),
         url('/assets/fonts/cabin-regular-webfont.ttf') format('truetype'),
         url('/assets/fonts/cabin-regular-webfont.svg#cabinregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cabinitalic';
    src: url('/assets/fonts/cabin-italic-webfont.eot');
    src: url('/assets/fonts/cabin-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/cabin-italic-webfont.woff2') format('woff2'),
         url('/assets/fonts/cabin-italic-webfont.woff') format('woff'),
         url('/assets/fonts/cabin-italic-webfont.ttf') format('truetype'),
         url('/assets/fonts/cabin-italic-webfont.svg#cabinitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cabinmedium';
    src: url('/assets/fonts/cabin-medium-webfont.eot');
    src: url('/assets/fonts/cabin-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/cabin-medium-webfont.woff2') format('woff2'),
         url('/assets/fonts/cabin-medium-webfont.woff') format('woff'),
         url('/assets/fonts/cabin-medium-webfont.ttf') format('truetype'),
         url('/assets/fonts/cabin-medium-webfont.svg#cabinmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
