@import "_base";
@import "_pygments";
@import "bourbon/bourbon";
@import "base/grid-settings";
@import "neat/neat";
@import "base/base";
@import "stick_footer";

body {
  margin: 0;
  padding: 0;

}
ul {
  @extend %default-ul;
}

ol {
  @extend %default-ol;
}

// Nav
nav a::before, .follow a::before {
  content: "| ";
}

// Background
#page, body > footer {
  box-shadow: 0px 0px 10px $tertiary-darkest;
  background-color: $content-background-color;
}



body {
  background-color: $base-background-color;
}

#page, #footer-content {
  padding: 1em;
}

// Forms
form {
  input[type=submit], button {
    width: 100%;
  }
}

// footer

body > footer {
  box-shadow: 0px 0px 10px $tertiary-darkest;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
