@import "_base";
@import "_pygments";
@import "bourbon/bourbon";
@import "base/grid-settings";
@import "neat/neat";
@import "base/base";
@import "stick_footer";

ul {
  @extend %default-ul;
}

ol {
  @extend %default-ol;
}

// Nav
nav a::before, .follow a::before {
  content: "| ";
}

// Background
body {
  @include background-image(linear-gradient(rgba($base-background-color, .90),
  rgba($base-background-color, .90)),
  url("/assets/images/symphony.png"));
}

// Forms
form {
  input[type=submit], button {
    width: 100%;
  }
}

// footer

footer {
  box-shadow: 0px 0px 10px $tertiary-darkest;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: $base-background-color;
}
