@import "shared";


@include media($small-screen) {
  #page, #footer-content {
    @include outer-container;
  }
  .articles {
    article {
      @include span-columns(4 of 4);
      min-height: 4em;
    }
  }
  body > footer { display: none; }
}

@include media($middle-screen) {
  #page, #footer-content {
    @include outer-container;
  }
  .articles {
    article {
      @include span-columns(3 of 6);
      @include omega(2n);
      min-height: 4em;
    }
  }
}


