@import "_base";
@import "_pygments";
@import "bourbon/bourbon";
@import "base/base";
@import "layout";

body {
  margin: 0;
  padding: 0;
}

ul {
  @extend %default-ul;
}

ol {
  @extend %default-ol;
}

// Nav
nav a::before, .follow a::before {
  content: "| ";
}

// Background
#page, body > footer {
  box-shadow: 0px 0px 7px $tertiary-darkest;
  background-color: $content-background-color;
}


body {
  background-color: $base-background-color;
}

// Forms
form {
  input[type=submit], button {
    width: 100%;
  }
}


#page, #footer-content {
  padding: 1em;
}

figure {
  margin-before: 0;
  margin-after: 0;
  margin-start: 0;
  margin-end: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -moz-margin-before: 0;
  -moz-margin-after: 0;
  -moz-margin-start: 0;
  -moz-margin-end: 0;
}

// footer
body > footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}


// Testimonials
.testimonials {
  blockquote {
    padding-left: 0;
    border: 0;
  }
}
