/* line 16, ../../precompiled/scss/app.scss */
body {
  background: url('/assets/images/dark_circles.png?1323621483');
  color: #FAFAFF;
  font-family: helvetica, arial, sans-serif;
  font-size: 1.75em;
  text-align: center;
}

/* line 23, ../../precompiled/scss/app.scss */
h1, h2, h3, h4, h5 {
  margin-bottom: 0;
  padding-bottom: 0;
}

/* line 28, ../../precompiled/scss/app.scss */
#main {
  text-align: left;
  margin: 0px auto;
  min-width: 12.25em;
  width: 50%;
}

/* line 34, ../../precompiled/scss/app.scss */
a {
  color: #dadaEa;
}
/* line 36, ../../precompiled/scss/app.scss */
a:visited {
  color: #AAAACC;
}
/* line 37, ../../precompiled/scss/app.scss */
a:hover {
  color: #FFFFFF;
}

/* line 40, ../../precompiled/scss/app.scss */
ul, p {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0.875em;
}

/* line 45, ../../precompiled/scss/app.scss */
ul {
  list-style: none;
  padding-left: 0;
}
/* line 48, ../../precompiled/scss/app.scss */
ul ul {
  padding-left: 0.875em;
}

/* line 57, ../../precompiled/scss/app.scss */
.musing {
  font-size: 0.583em;
}
