// Typography
$sans-serif: 'cabinregular',"helvetica neue", helvetica, roboto, arial, sans-serif;
$serif: 'alegreyaregular', Georgia, Cambria, "Times New Roman", Times, serif;
$base-font-family: $sans-serif;
$header-font-family: $serif;

// Font Sizes
$base-font-size: 1.125em;

$h1-font-size: 3.5625rem;
$h1-line: 1.6875rem;
$h1-lines: 3;

$h2-font-size: 2rem;
$h2-line: 1.6875rem;
$h2-lines: 2;


$h3-font-size: 1.5rem;
$h3-line: 1.6875rem;
$h3-lines: 1;

$h4-font-size: 1.125rem;
$h4-line: 1.6875rem;
$h4-lines: 1;

$h5-font-size: 1.125rem;
$h5-line: 1.6875rem;
$h5-lines: 1;

$h6-font-size: 1.125rem;
$h6-line: 1.6875rem;
$h6-lines: 1;

// Line height
$base-line-height: 1.5;
$header-line-height: 1.5;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$base-z-index: 0;

// Colors
$blue: $secondary-dark;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #DDD;
$light-red: $primary-light;
$light-yellow: $tertiary-light;
$light-green: $complement-light;

// Background Color
$base-background-color: $primary-lightest;
$content-background-color: $secondary-lightest;

// Font Colors
$base-font-color: $primary-darkest;
$base-accent-color: $tertiary;

// Link Colors
$base-link-color: $tertiary-darkest;
$hover-link-color: $tertiary-dark;
$base-button-color: $tertiary-dark;
$hover-button-color: $tertiary-darkest;

// Flash Colors
$alert-color: $light-yellow;
$error-color: $light-red;
$notice-color: lighten($base-accent-color, 40);
$success-color: $light-green;

// Border color
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px rgba(black,0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;
