@import "_base";
@import "compass/reset";

// -------------------------------------------------- 
//    Table of Contents
// --------------------------------------------------
// :: Shared Styles
// :: Home
// :: Musings

// -----------------------------------------
//    Shared Styles
// -----------------------------------------

body {
  background: $primary-color;
  color: $font-color;
  font-family: helvetica, arial, sans-serif;
  font-size: $base-font-size;
  line-height: $line-height / $base-font-size;
}

#header {
  background: $secondary-color;
  text-align: center;
}

@mixin centered-column {
  min-width: $min-width;
  max-width: $max-width;
  width: 90%;
  text-align: left;
}

#header h1 {
  @include centered-column;
  margin: 0 auto;
  padding: $base-font-size/2 0 $base-font-size/2 0;
}

#main, #footer {
  @include centered-column;
  clear: both;
  width: 500px;
  margin: $base-font-size auto;
}

h1 {
  font-size: $title-heading-font-size;
}

h2 {
  font-size: $main-heading-font-size;
}

h3 {
  font-size: $sub-heading-font-size;
}

h4 {
  font-weight: bold;
}


strong {
  font-weight: bold;
}

em {

  font-style: italic;
}

a {
  color: $tertiary-color;
  &:visited { color: $visited-link-color }
  &:hover { color: $hover-link-color }
}


pre, code {
  background-color: #000;
  font-size: .85em;
  font-family: Monaco, monospace
}

ul, p, ol {
  margin-bottom: $vertical-spacing / 2;
  margin-top: $vertical-spacing / 2;
}
ul { list-style-type: disc }
ol { list-style-type: cjk-ideographic }

// -----------------------------------------
//    Home
// -----------------------------------------
.thing-i-do {
  clear: both;

  h2, .content { width: $column_width }
  h2 {
    font-size: $title-heading-font-size;
    float: left; text-align: right;
  }
  .content {
    font-size: $main-heading-font-size;
    float: right;
  }
}

// -----------------------------------------
//    Musings
// -----------------------------------------
.musing, .article, .question {
  font-size: $base-font-size / 2;
  width: $column-width - 5%;
  margin-right: $gutter-width;
  margin-bottom: $vertical-spacing;
  float: left;
}

#nav {
  @include centered-column;
  list-style-type: none;
  text-align: center;
  li {
    display: inline-block;
    margin-right: $gutter-width;
  }
}

.call-to-action {
  font-style: italic;
}
