@import "_base";
@import "compass/reset";

// -------------------------------------------------- 
//    Table of Contents
// --------------------------------------------------
// :: Shared Styles
// :: Home
// :: Musings

// -----------------------------------------
//    Shared Styles
// -----------------------------------------

body {
  background: image-url("concrete_wall.png");
  color: #FAFAFF;
  font-family: helvetica, arial, sans-serif;
  font-size: $base-font-size;
}

h1 {
  font-size: $title-heading-font-size;
  line-height: $line-height / $title-heading-font-size;
  margin-bottom: #{$line-height / $title-heading-font-size}em;
}

h2 {
  font-size: $main-heading-font-size;
  line-height: $line-height / $main-heading-font-size;
}

h3 {
  font-size: $sub-heading-font-size;
  line-height: $line-height / $sub-heading-font-size;
}

h4 {
  font-weight: bold;
}

#main {
  text-align: left;
  margin: $base-font-size auto;
  min-width: $min-width;
  max-width: $max-width;
  width: 90%;
}

a {
  color: #dadaEa;
  &:visited { color: #AAC; }
  &:hover { color: #DDD; }
}

ul, p {
  margin-bottom: $line-height;
}

// -----------------------------------------
//    Home
// -----------------------------------------
.thing-i-do {
  clear: both;
  h2, .content { width: $column_width }
  h2 {
    font-size: $title-heading-font-size;
  }
}

.thing-i-do:nth-child(odd) {
  h2 { float: right; }
  .content { float: left; }
}

.thing-i-do:nth-child(even) {
  h2 { float: left; }
  .content { float: right; }
}

// -----------------------------------------
//    Musings
// -----------------------------------------
.musing {
  font-size: $base-font-size / 3;
}
