<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <link href="{{ 'desktop.css' | stylesheet_path }}" type="text/css" rel="stylesheet"
        media="(min-width:1080px)"/>
  <link href="{{ 'mobile.css' | stylesheet_path }}" type="text/css" rel="stylesheet"
        media="(max-width:1080px)"/>
  <link href="{{ 'pygments.css' | stylesheet_path }}" type="text/css" rel="stylesheet"/>

  <link type="text/atom+xml" rel="alternate" href="http://feeds.feedburner.com/zeespencer"/>
  <meta name="viewport" content="initial-scale=1">
    <script type="text/javascript">
      !function(){var analytics=window.analytics=window.analytics||[];if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.0.0";
      {% if site.env == "production" %}
      analytics.load("DEDSLhOPXKFCHg4NglvHWqtQg6BgqJy2");
      {% else %}
      analytics.load("bxOoLxuBH6d2dOUkRUFibICbl0hKFCSy");
      {% endif %}

      {% if page.track_as && page.meta %}
        analytics.page("{{ page.track_as}}", {{ page.meta | jsonify }});
      {% elsif page.track_as %}
        analytics.page("{{ page.track_as }}")
      {% else %}
        analytics.page();
      {% endif %}
      }}();
    </script>
</head>
<body>
  <div id="page">
  <header>
    <h1>{{ page.title }}</h1>
    <nav>
      <a href="/">Explore</a>
      <a href="/newsletter.html">Follow my Musings and Mutterings</a>
      <a href="/contact.html">Contact Me</a>
      <a href="http://twitter.com/zspencer">Twitter</a>
      <a href="http://github.com/zspencer">Github</a>
      <a href="http://feeds.feedburner.com/zeespencer">RSS</a>
    </p>

  </header>
  <section id="content">
    {{ content }}
  </section>
  <div class="push"></div>
  </div>
  <footer>
    <section id="footer-content">
    <p class="license">
      Copyright 2004 - 2014 Zee Spencer. Licensed under
      a <a
         rel="license"
         href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative
         Commons Attribution-NonCommercial-ShareAlike 4.0
         International License</a>.
    </p>
    <nav>
      <a href="/">Explore</a>
      <a href="/newsletter.html">Follow my Musings and Mutterings</a>
      <a href="/contact.html">Contact Me</a>
      <a href="http://twitter.com/zspencer">Twitter</a>
      <a href="http://github.com/zspencer">Github</a>
      <a href="http://feeds.feedburner.com/zeespencer">RSS</a>
    </p>


    </section>
  </footer>

{% for cta in page.ctas %}
<script type="text/javascript">
var ctaElement = document.getElementById('{{cta.id}}');
{% if cta.type == "form" %}
analytics.trackForm(ctaElement, 'Clicked CTA', {
{% else %}
analytics.trackLink(ctaElement, 'Clicked CTA', {
{% endif %}
  location: '{{ cta.location }}',
  color: '{{ cta.color }}',
  text: '{{ cta.text }}',
  CTA: '{{ cta.CTA }}',
  category: '{{ cta.category }}',
  type: '{{ cta.type }}',
  pageSubject: "{{ cta.pageSubject }}",
  pageTitle: document.title,
  pageUrl: location.href,
  pagePath: location.pathname
});
</script>
{% endfor %}
</body>
</html>
