<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }} -- Zee Spencer</title>
  <link type="text/css" rel="stylesheet" href="/assets/stylesheets/app.css"/>
  <link type="text/atom+xml" rel="alternate" href="http://feeds.feedburner.com/zeespencer"/>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    var pluginUrl = '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
    _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
    _gaq.push(['_setAccount', 'UA-28034607-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

    })();
  </script>
</head>
<body>
  <div id="header">
    <h1>{{ page.title }}</h1>
  </div>
  <div id="main">
    {{ content }}
  </div>
  <div id="footer">
    <ul id="nav">
      <li><a href="/articles.html">articles</a></li>
      <li><a href="/musings.html">musings</a></li></li>
  </div>
</body>
</html>
